rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /carousel_photos/{photoId} {
      allow read: if true;
      allow write: if true;
    }

    match /rsvps/{rsvpId} {
      allow read: if true;
      allow create: if request.resource.data.fullName is string
                    && request.resource.data.phoneNumber is string
                    && request.resource.data.willAttend is string;
      allow update: if true;
      allow delete: if true;
    }
  }
}
